# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#

# BACKEND
JOURNEYS_DB_HOST=<insert yours here>
JOURNEYS_DB_USERNAME=<insert yours here>
JOURNEYS_DB_PASSWORD=<insert yours here>
JOURNEYS_ACCESS_TOKEN_NAME=<insert yours here>
JOURNEYS_JWT_SECRET=<insert yours here>
JOURNEYS_IMAGE_REPOSITORY=<insert yours here>
JOURNEYS_ACCES_TOKEN_DURATION=<insert yours here>
DOCKER_IMAGE_TAG=<insert yours here>

# FRONTEND
# All fronted variables must start with 'REACT_APP'

# Forward-geocoding API using autocomplete mechanism - https://apidocs.geoapify.com/docs/geocoding/address-autocomplete/#autocomplete
REACT_APP_GEOAPIFY_API_KEY=<insert yours here>
# Tiles representing the world map - https://www.maptiler.com/cloud/
REACT_APP_MAPTILER_API_KEY=<insert yours here>
