.logbook{
    /*border: solid;
    border-color: chartreuse;
    height: 100%;
    */
    box-sizing: border-box;
    width: 100%;
    
    padding: 1%;
    display: flex;
    flex-direction: column;
    background-color: #DAE1DB;
}

.logbookHeader{
    /*border: solid;
    border-color: chocolate;*/
    height: 5vh;
    display: flex;
    justify-content: space-between;
    

}

.userListLogbook{
    /*border: solid;
    border-color: rgb(0, 162, 255);
    height: 60vw;*/
    box-sizing: border-box;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.carousel-container{
    /*box-sizing: border-box;*/
    height: 55vh; /*THE IMPORTANT HEIGHT IS HERE*/
    width: 100%;
    /*padding: 20px;*/
}

.react-multi-carousel-track{
    height: 100%;
}

.react-multi-carousel-item{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
}

